html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("./background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 660px;
  background: rgba(0, 0, 0, 0.559);
  padding: 12px 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  position: relative;
}

header h1 {
  margin: 0;
  padding-top: 200px;
  padding-left: 400px;
  gap: 10px;
  font-size: 58px;
  font-family: "Times New Roman", Times, serif;
  color: #004e9c;
  text-shadow: 2px 2px 4px #ffffff;
}

.dropdown {
  position: relative;
}

.dropdown summary {
  list-style: none;
  cursor: pointer;
  background: #00bfff;
  color: white;
  padding: 10px 22px;
  border-radius: 22px;
  font-size: 15px;
  transition: 0.3s;
  white-space: nowrap;
}

.dropdown summary:hover {
  background: #007acc;
}

details .menu {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99999999999;
  background-color: #00f7ff38;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: max-content;
}

.dropdown[open] .menu {
  display: block;
}

.dropdown .menu {
  position: absolute;
  right: 0;
  top: 110%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  padding: 8px;
  min-width: 200px;
  display: none;
  z-index: 1000;
}

.menu a {
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  color: #003366;
  border-radius: 8px;
}

.menu a:hover {
  background: #e0f4ff;
}

main {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .about-section {
  width: 98%;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.192);
  border-radius: 20px;
}

.image1 {
  float: right;
  width: 400px;
  height: auto;
  padding: 45px;
  border-radius: 25%;
  margin-top: 10px;
  margin-right: 20px;
  margin: 10px;
}

.image {
  float: left;
  width: 400px;
  height: 100%;
  height: auto;
  padding: 45px;
  border-radius: 25%;
  margin-top: 10px;
  margin-right: 20px;
}

.about-section p {
  color: #00ffff;
  padding: 20px;
  font-size: 26px;
}

.about-section ul {
  margin: 30px;
  color: #c2fff3;
  font-size: 35px;
  text-align: left;
}

.about-section ol {
  margin: 30px;
  color: #c2fff3;
  font-size: 35px;
  text-align: left;
}

main .museum-section {
  width: 30%;
  margin: 20px 0;
  padding-left: -40px;
  background: rgba(255, 255, 255, 0.192);
  border-radius: 20px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

main .museum-section:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

main .museum-section h3 {
  color: #00ffff;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 20px;
  padding: 15px;
  margin-top: 20px;
  font-size: 28px;
}

main .museum-section img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.museum-section img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.589);
}

.museum-section p {
  font-size: 18px;
  line-height: 1.6;
  margin: 20px;
  color: #c2fff3;
}

h2 {
  color: #73ffff;
  font-size: 36px;
  margin-bottom: 20px;
  background-color: #0043875a;
  padding: 20px;
  border-radius: 20px;
}

.slogan {
  position: static;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  font-weight: bold;
  color: #004e9c;
  text-shadow: 1px 1px 2px #ffffff;
  z-index: 1;
}

.icon {
  font-size: 30px;
  text-decoration: none;
  color: #004e9c;
  display: flex;
  margin: 20px;
  flex-direction: row;
}

.icon img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.footer-section {
  margin: 40px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.192);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

footer {
  background: rgba(0, 0, 0, 0.511);
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px #ffffff;
}

.footer_img {
  width: 200px;
  margin-top: 60px;
  margin-left: 120px;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.3);
  z-index: 1000;
}

.top-left {
  flex: 5;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #0062c4;
  text-shadow: 1px 1px 2px #000000;
}

.top-right {
  flex: 4;
  display: flex;
  gap: 15px;
  margin-right: 40px;
  text-shadow: 1px 1px 2px #000000;
}

.top-center input {
  width: 280px;
  padding: 10px 18px;
  border-radius: 22px;
  border: none;
  outline: none;
  font-size: 14px;
}

.hero-logo {
  position: absolute;
  left: 80px;
  top: 150px;
  width: 320px;
  height: auto;
  animation: floatLogo 3s ease-in-out infinite;
}

@keyframes floatLogo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
